{{ template "partials/header" . }}
  <body>
    <main class="home">
      <!-- change the text-color if the theme is dark to a lighter color -->
      <h1>Go served</h1>
      <p>A simple web server written in Go</p>
    </main>
  </body>
  <style>
    main.home {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    main.home h1 {
      font-size: 64px;
      font-weight: bold;
      color: var(--primary-900);
    }

    main.home p {
      font-size: 46px;
      color: var(--primary-900);
    }
  </style>
</html>